$color-primary: #43c49b;
$color-primary-light: #60e8c4;
$color-primary-dark: #1fef8ec1;

$color-grey-light-1: #d4c5c51b;

$color-beans-1-light: #c58e7f;
$color-beans-1-dark: #dfa375;

$color-beans-2-light: #f6f0ea;
$color-beans-2-dark: #f1dfd1;

$color-beans-3-light: #e8bc85;
$color-beans-3-dark: #e8c99b;

$color-brown-dark: #7b2f2f;
$color-brown-light: #ac5541c4;

$color-white: #ffffff;
$color-black: #000;

//font
$default-font-size: 1.6rem;
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
